<div class="header">
  <div class="row">
    <div class="small-11 small-centered columns">
      <h1>How it Works<h1>
    </div>
  </div>
</div>
<div id="step-1">
  <div class="row">
    <div class="small-6 small-push-3 columns">
      <h3>1) Create a Speaking Event.</h3>
    </div>
  </div>
</div>
<div id="step-2">
  <div class="row">
    <div class="small-6 small-centered columns">
      <h3>2) Give your Event Password to your Audience.</h3>
    </div>
  </div>
</div>
<div id="step-3">
  <div class="row">
    <div class="small-6 small-centered columns">
      <h3>3) Recieve Feedback and Questions from your Audience.</h3>
    </div>
  </div>
</div>
<div class="get-started">
  <div class="row">
    <div class="small-6 small-push-2 columns">
      <%= link_to "Get Started", user_path(current_user), class: "button" %>
    </div>
  </div>
</div>