<div class="title">
  <div class="row">
    <div class="small-7 small-centered columns">
      <h1 align="center">Welcome to Kaizano</h1>
    </div>
  </div>
</div>
<div class="sub-header">
  <div class="row">
    <div class="small-7 small-centered columns">
      <h3>Hone your Presentation Skills</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-6 small-centered columns">
      <h5>Kaizano Makes it Easy to Connect with your Audience and Improve your Presentation Skills.</h5>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="small-7 small-centered columns">
    <div class="home-button-group">
      <% if user_signed_in? %>
        <%= link_to 'Create a Event', new_event_path, class: "button" %>
        <%= link_to 'Join a Presentation', events_path, class: "button" %>
      <% else %>
        <%= link_to 'Create a Event', new_user_registration_path, class: "button" %>
        <%= link_to 'Join a Presentation', events_path, class: "button" %>
      <% end %>
    </ul>
  </div>
</div>
