<div class="title">
  <div class="row">
    <div class="small-6 large-centered columns">
      <h1 align="center">Welcome to Kaizano</h1>
    </div>
  </div>
</div>
<div class="sub-header">
  <div class="row">
    <div class="small-6 large-centered columns">
      <h3>Hone your Presentation Skills</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-7 large-centered columns">
      <h6>Kaizano makes it easy to get instant feedback from your audence.</h6>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8 large-centered columns">
    <div class="home-button-group">
      <%= link_to 'Create a Event', new_event_path, class: "button" %>
      <%= link_to 'Give Feedback', events_path, class: "button" %>
    </ul>
  </div>
</div>

      <% if user_signed_in? %>
          <h1 align="center"><%= link_to 'Profile', user_path(@user), class: "button" %></h1>
      <% end %>
      </div>
    </div>
  </div>
