<% if flash[:review_saved] %>
  <div data-alert class="alert-box">
      <%= flash[:review_saved] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<% if flash[:answered_questions] %>
  <div data-alert class="alert-box">
      <%= flash[:answered_questions] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>