<div class="find-event-container">
  <div class="panel small-4 small-centered columns">
    <% if @event == nil %>
    <div class="password-title">
      <div class="row">
        <div class="center">
          <h2>Enter Event Password</h2>
        </div>
      </div>
    </div>
        <%= simple_form_for :search, action: events_path, method: "get" do |f| %><br>
    <div class="field-for-password">
      <div class="row">
        <div class="centered">
           <%= f.text_field :event_password %>
        </div>
      </div>
    </div>
    <div class="submit-button">
      <div class="row">
        <%= submit_tag "Find Event", class: "button" %><br>
      </div>
    </div>
    <div class="flash-message">
      <div class="row">
        <%= flash[:could_not_find_event_notice] %>      
      </div>
    </div>
        <% end %>
    <% end %>
  </div>
</div>
