<div class="learn-more-body">
  <div class="row">
    <div class="small-9  small-centered medium-8 medium-centered large-8 large-centered columns">
      <div class="learn-more-header">
        <b><h1>What is Kaizano?</h1></b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-centered medium-8 large-8 columns">
      <div class="how-it-works-text">
        <h4>Improve Your Public Speaking</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-centered medium-8 large-8 columns">
      <div class="learn-more-body">
        <h6>No matter what type of profession you're in chances are at one point or another you're going to have to give a presentation in front of an audience, Kaizano was created with the goal of allowing public speakers to connect with their audience and improve their public speaking skills. Whether you're a teacher, student, business professional, or giving your first presentation, Kaizano is the perfect tool to help you improve your public speaking skills.</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-centered medium-8 large-8 columns">
      <h4>Receive Feedback from Your Audience</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-centered medium-8 large-8 columns">
      <div class="learn-more-body">
        <h6>Kaizano allows for audience members to anonymously give you feedback on your presentation, audience members can give you general feedback and rate the effectiveness of your presentation. You can track your ratings through your dashboard to see your improvement over time and make adjustments to your presentation based on the audience feedback.</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-centered medium-8 large-8 columns">
      <h4>Questions Beyond the Presentation</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-centered medium-8 large-8 columns">
      <div class="learn-more-body">
        <h6>Your audience can ask you questions through Kaizano.  As a presenter you can follow up on questions and clear up any topics of your presentation that may have been unclear to your audience.</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-centered medium-8 large-8 columns">
      <h4>Who Built Kaizano?</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-centered medium-8 large-8 columns">
      <div class="learn-more-body">
        <h6>Kaizano was built by <a href="http://www.linkedin.com/in/stevedanko" target="_blank">Steve Danko</a>, during Launch Academy's 10 week web development bootcamp with the goal of creating more engaging, interesting, and effective professional speakers.</h6>
      </div>
    </div>
  </div>
  <div class="get-started">
    <div class="row">
      <div class="small-9 small-centered medium-8 large-8 columns">
        <%= link_to "Get Started", new_user_registration_path, class: "button" %>
      </div>
    </div>
  </div>
</div>