// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// textarea {
//   min-height: 10px;
// }
.find-event-container {
  padding-top: 150px;
  text-align: center;
}

#event_description{
  height: 200px;
}

#new_question {
  text-align: right;
}

#question_body {
  height: 200px;
}

#question_comment_body {
  height: 150px;
}

.title {
  .question-form {
  padding-top: 150px;
}
}

.feedback-button {
  padding-top: 40px;
}

.comment-object {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment-body {
  padding-bottom: 13px;
}

.no-comments-message {
  padding-bottom: 10px;
}

.event-header {
  font-weight: 500;
}

.alert-box {
  text-align: center;
  font-size: 18px;
}

.answer-link {
  padding-top: 25px;
  padding-bottom: 5px;
}

.comment-feed {
  text-indent: 25px;
}

#event-title-future {
  font-style: italic;
  background-color: #F2F2F2;
}

#event-title-past {
  font-style: italic;
  background-color: #F2F2F2;
}

#events-header {
  background-color: #CCCCCC
}

