// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// textarea {
//   min-height: 10px;
// }
.find-event-container {
  padding-top: 150px;
  text-align: center;
}
.submit-button {
  .button {
    width: 380px;
  }
}
#event_description{
  height: 200px;
}

#new_question {
  text-align: right;
  .button {
    width :200px;
  }
}

#question_body {
  height: 200px;
}

#question_comment_body {
  height: 150px;
}

.question-form {
  .question-header{
    text-align: center;
  #new_question {
    padding-top: 0px;
  }
}
}

.title {
  .question-form {
  padding-top: 150px;
}
}

.feedback-button {
  padding-top: 40px;
}

.create-event-button {
  .button {
    width: 491px;
  }
}

.comment-object {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment-body {
  padding-bottom: 13px;
}

.no-comments-message {
  padding-bottom: 10px;
}

.cancel-button {
  .button {
  width: 217px;
}
}
.save-button {
  .button {
  width: 217px;
}
}
.save-changes-button-event{
  .button {
    width: 243px;
  }
}

.event-header {
  font-weight: 500;
}

.alert-box {
  text-align: center;
  font-size: 18px;
}
.event-password {
  padding-left: 30px;
}

.answer-link {
  padding-top: 25px;
  padding-bottom: 5px;
}

.comment-feed {
  text-indent: 25px;
}
