// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sub-header {
  text-align: center;
}

.give-feedback-button {
  padding-left: 25px;
  .button{
  width: 200px;
}
}

.home-button-group {
  .button {
    width:270px;
  }
}

.container-home {
  padding-top: 50px;
}