// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title {
  padding-top: 50px; 
}

.sub-header {
  text-align: center;
}

.give-feedback-button {
  padding-left: 25px;
  .button{
  width: 200px;
  background-color: #D11975;
}
}

.home-button-group {
  .button {
    width:250px;
    background-color: #D11975;
  }
}