// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .sub-header1 {
//   font-size: 75px;
//   color: white;
//   font-weight: bold;
// }

.sub-header1 {
  font-size: 45px;
  color: white;
  font-weight: bold;
}

.sub-header2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  line-height: 30px;
}
.title-home {
  padding-bottom: 10px;
}

.give-feedback-button {
  padding-left: 25px;
  .button{
  width: 200px;
}
}

.home-button-group {
  .button {
    width:270px;
  }
}

.container-home {
  padding-top: 8%;
}

#home_buttons {
  padding-top: 10px;
}

.header-home {
  background: image-url('backround_images/kaizano_br1.jpg') no-repeat top center;
  height: 550px;
  background-size: contain;
  background-size: cover;
}

#icons {
  font-size: 18vw;
  text-align: center;
  padding-top: 5%;
} 

.home-footer {
  padding-top: 100px;
}

#footer {
  height: 50px;
}

#name {
  font-size: 15px;
  color:white;
  padding-top: 50px;
}

.name-wrapper {
  padding-top: 20px;
}