// Place all the styles related to the how_it_works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  font-weight: bold;
}

#step-1 {
  padding-top: 10px;
}

#step-2 {
  padding-top: 10px;
}

#step-3 {
  padding-top: 10px;
}

.get-started {
  text-align: center;
  padding-top: 25px;
  .button {
    width: 200px;
  }
}

.how-it-works-body {
  padding-top: 35px;
}


.welocome-message {
  padding-top: 25px;
  text-align: center;
}

.header2 {
  padding-top: 10px;
  text-align: center;
}