// Place all the styles related to the learn_mores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.learn-more-header {
  text-align: center;
  padding-top: 35px;
}

.how-it-works-text {
  padding-top: 25px;
}
