// Place all the styles related to the learn_mores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.how-it-works-text {
  padding-top: 25px;
}

.learn-more-objects {
  padding-top: 25px;
}

#learn_more_title {
  font-size: 75px;
  font-weight: bold; 
  text-align: center;
  padding-top: 35px;
}

.screen-shot {
  max-width: auto;
  height: auto;
  border: 10px solid #4D4D4D;
  border-radius: 50px;
}

.get-started {
  padding-top: 50px;
}
