.multi-choice-breadcrumb {
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.multi-choice-submission-button {
    padding-top: 25px;
}

.multi-choice-answer-title {
  padding-bottom: 25px;
}

.multi-choice-sub-header {
  padding-bottom: 10px;
  font-style: italic;
}

.new-multi-choice-title {
  padding-bottom: 10px;
}

.did-not-answer-question-flash {
  text-align: center;
  padding-bottom: 10px;
}

.chart-title {
  padding-top: 50px;
}

.chart-object {
  background-color: #CCCCCC;
}

.chart {
  padding-top: 50px;
  align: center;
}