.multi-choice-breadcrumb {
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.multi-choice-submission-button {
    padding-top: 25px;
}

.multi-choice-answer-title {
  padding-bottom: 25px;
}