#question_answer_answer_body {
  height: 200px;
}

.answer-question-question-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.save-answers-question-answers {
  .button {
    width: 491px;
  }
}