.add-new-event-button{
  .button {
    background-color: #D11975;
    width: 225px;
  }
}

.sign-up-button {
  .button {
    background-color: #D11975;
    width: 0px;
  }
}

.sign-up {
  .button {
    background-color: #D11975;
    width: 470px;
  }
}

.sign-in {
  .button {
    background-color: #D11975;
    width: 303px;
  }
}

.title-sign-up {
  text-align: center;
}

.sign-up-title {
}

.save-changes-button {
  .button {
    background-color: #D11975;
    width: 233px;
  }
}

.stats-tables {
  padding-top: 25px;
}

.user-name {
  width: 450px;
}

.photo {
  padding-top: 25px;
}

