.add-new-event-button{
  padding-top: 20px;
  .button {
    width: 225px;
  }
}

.sign-up-button {
  .button {
    width: 500px;
  }
}

.sign-up {
  .button {
    width: 491px;
  }
}

.sign-in {
  .button {
    width: 278px;
  }
}

.title-sign-up {
  text-align: center;
}


.save-changes-button {
  .button {
    width: 243px;
  }
}

.stats-tables {
  padding-top: 25px;
}

.user-name {
  width: 450px;
}

.photo {
  padding-top: 25px;
}

.photo {
  padding-top: 25px;
}

.event-table {
  width: 925px;
}


