.add-new-event-button{
  .button {
    background-color: #D11975;
    width: 225px;
  }
}

.name {
  display: inline-block;
}

.password {
  display: inline-block;
}

.sign-up-button {
  .button {
    background-color: #D11975;
    width: 200px;
  }
}

.sign-up {
  .button {
    background-color: #D11975;
  }
}