<div class="row">
  <div class="small-12 small-centered columns">
    <div class="feedback-left">
      <h1>Opps...Looks like you already left Feedback.</h1>
      <h3>You can only leave feedback once.</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 small-centered medium-5 medium-centered large-4 large-centered columns">
    <div class="full-length-button">
      <%= link_to "Back to Event Page", :back, class: "button" %>
    </div>
  </div>
</div>

