<div class="row">
  <div class="large-">
    <div class="row">
      <div class="large-6 columns">
<br>
  <%= simple_form_for ([@event, @review]) do |f| %>
  <%= f.input :feedback_comments, label: "Feedback" %><br />
  <%= f.input :rating, label: "Presentation Rating", :collection => 1..10 %><br>
  <%= f.submit "Give Review",class: "button" %>
<% end %>
    </div>
    </div>
  </div>
</div>