<div class="row">
  <div class="large-">
    <div class="row">
      <div class="large-6 columns">
<br>
  <%= simple_form_for ([@event, @review]) do |f| %>
  <br>
  <%= f.input :rating, label: false, 
  :collection => 1..10, :include_blank => "Rate this Presesntation, 10 being really good and 1 not good"  %><br>
  <%= f.input :feedback_comments, label: "Feedback" %><br />
  <%= f.submit "Give Review",class: "button" %>
<% end %>
    </div>
    </div>
  </div>
</div>