 <div class="container">
  <div class="panel small-5 small-centered columns"> 
    <h2>Review Presentation</h2>
    <%= simple_form_for ([@event, @review]) do |f| %>
      <div class="row">
        <div class="small-6">
          <div class="rate-presentation">
          <%= f.input :rating, label: "Rating (10 is the highest rating)",
          :collection => 1..10, :include_blank => true  %>
        </div>
      </div>
    </div>
    <div class="feedback-form">
      <%= f.input :feedback_comments, label: "General Feedback Comments", as: :text %>
    </div>
    <div class="row">
      <div class="give-review-button">
        <%= f.submit "Give Review",class: "button" %>
      </div>
    </div>
    <% end %>
  </div>
</div>